<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nctu.imf.sirenplayer" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/woman"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <activity
            android:name=".DBActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".MainService" >
            <intent-filter android:label="@string/app_name" >
            <action android:name="nctu.imf.sirenplayer.MainService"/>
        </intent-filter></service>
        <activity android:name=".PlayerActivity"></activity>
        <activity android:name=".SearchActivity"></activity>
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>
